
.prodHeader {
    font-weight: 700;
    font-family: "Roboto";
    color: black;
    size: 41px;
    line-height: 48px;
    display: flex;
    justify-content: center;
}

.prodpara {
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center; 
}

.prod-header {
font-family: Roboto;
font-size: 21px;
font-weight: 700;
line-height: 25px;
letter-spacing: 0em;
text-align: left;
color: #4285F8;
}

.prod-content {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    
}

.prod-read {
    font-family: Roboto;
font-size: 14px;
font-weight: 700;
line-height: 18px;
letter-spacing: 0em;
text-align: left;
color: #4285F8;
}


.bold-font{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 800;
font-size: 64px;
line-height: 78px;
/* identical to box height */

text-align: center;

color: #000000;

}


