.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
  display: flex;
  /* justify-content: center; */
}

a.activepaylink-kyc{
  color:#fff !important;
}
.activepaylink-kyc {
  background-color: #4bb543;
  color: white !important ;
  margin-left: -36px;
  padding-left: 46px;
}

/* .inactive::before {
  position: fixed;
  left: -48px;
  content: url(../../assets/images/check.png);
  display: inline-block;
} */
.activepaylink-kyc::after {
  position: fixed;
  left: 153px;
  content: url(../../assets/images/arrow_back_ios.png);
  transform: matrix(1, 0, 0, -1, 11, 1);
  display: inline-block;
}

.btnbackground {
  background-color: #0156b3;
 
}
.panVerfied {
  margin-left: 256px;
}

.notVerifiedtext {
  margin-left: 250px;
}

.checkboxstyle {
  margin-top: 8px;
}

.paymentSubHeader {
 /* font-family: "Satoshi"; */
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: black;
}

.subHeaderForModal {
  /* font-family: "Satoshi"; */
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}

.paymentHeader {
  /* font-family: "Satoshi"; */
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: black;
}

.border-dotted {
  border-style: dotted;
  border-width: 2px;
  border-color: black;
}
.pan-card {
  z-index: 999;
  position: relative;
  right: 337px;
}
.emailotp {
  vertical-align: middle;
  text-align: center;
  bottom: -24px;
  position: relative;
}

.verfy-btn {
  line-height: 18px;
  background-color: #0156b3;
}

.para-style {
  /* font-family: "Satoshi"; */
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 225%;
  color: black;
}

.para-style2 {
  /* font-family: "Satoshi"; */
  margin-left: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 225%;
  color: black;
}

.modal-header-fignma {
  padding: 5px 14px 4px 14px;
  background-color: #4285f8;
}

.modal-close-button {
  padding: 12px 20px 18px 0px;
}

.modalsimageclass {
  width: 70%;
  margin-top: 0rem;
  margin-left: 66px;
}

.modalsimageclass-1 {
  width: 45%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .optbtn {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .optbtn {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .optbtn {
    display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .optbtn {
    position: absolute !important;
    right: -99px;
    z-index: 999;
    top: -51px;
    margin-right: -5px !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .optbtn {
    position: absolute !important;
    right: -99px;
    z-index: 999;
    top: -51px;
    margin-right: -5px !important;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .optbtn {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .optbtn {
    display: none;
  }
}

/* For PAN VALIDATION IN BUSINESS Details */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .panbtn {
    display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .panbtn {
    position: absolute !important;
    right: -85px;
    z-index: 999;
    top: -1px;
    margin-right: -5px !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .panbtn {
    position: absolute !important;
    right: -85px;
    z-index: 999;
    top: -1px;
    margin-right: -5px !important;
  }
}

/* For PAN VALIDATION IN BUSINESS Details */

.kyc-modal_form {
  width: 1696px;
  display: revert;
  margin-left: -6rem;
  height: 711px;
  margin-top: 88px;
}

.cross_KYC {
  height: 34px;
  width: 38px;
  margin-top: -3rem;
}

.text-font {
  /* font-family: Satoshi; */
  font-size: 15px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
}

.text-font-ForStatusChange::before {
  /* position: fixed; */
  position: relative;
  left: -7px;
  content: url(../../assets/images/check.png);
  display: inline-block;
}
.text-font-ForStatusChange {
  /* font-family: Satoshi; */
  font-size: 15px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  color: green;
}

.text-kyc-header {
  /* font-family: "Satoshi"; */
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 224%;
  color: black;
}

.text-kyc-label {
  /* font-family: "Satoshi"; */
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  color: black;
}

.text-kyc-sumit {
  /* font-family: "Satoshi"; */
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  
}

.cardsection{
    background-color: #F2F2F2;                       
    height: 711px;
    margin-top: 0rem;
    width: 797px;
    box-shadow: 0px 4px 14px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    overflow-Y: scroll !important;
}
.otpbtn{
  position: absolute !important;
    right: 16px;
    top: 38px;
}
.otpbtn a{
  border-radius: 0 6px 6px 0;
}
.otpbtngst{
  /* right: 3px;
  
  top: -51px;
  border-radius: 0 6px 6px 0; */
    right: 107px;
    position: absolute !important;
    top: 38px;}
.otpbtngst a{
    border-radius: 0 6px 6px 0;
}

.otpbtndetail{
  top: 39px;
    position: absolute !important;
    right: 106px;
}
.otpbtndetail a{
    border-radius: 0 6px 6px 0;
}
.otpbtnaccnt{
  top: 39px;
    position: absolute !important;
    right: 105px;
}
.otpbtnaccnt a{
    border-radius: 0 6px 6px 0;
}
.marg-b p.text-danger{
  margin-bottom:0;
}
.success img{
  position: absolute;
    top: 43px;
    right: 24px;
}
a.inactive{
  color:#000;
}