.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
  display: flex;
  /* justify-content: center; */
}
.save-next-btn
{
  border-radius: 4px;
  border: 0px;
  padding: 8px;
}




.activepaylink-kyc {
  color: white !important ;
  margin-left: 0;
  white-space: nowrap;
}

.kyc_active_tab_success{
  background-color: #4bb543;
}

.kyc_active_tab_error{
  background-color: #ff0000;
}

.kyc_active_tab_warning{
  background-color: #ffab07;
}

.kyc_active_tab_default{
  background-color: #b2b2b2;
}

.text-decoration-underline{
  text-decoration: underline
}



.m-4px{
  margin: 4px
}

/* .inactive::before {
  position: fixed;
  left: -48px;
  content: url(../../assets/images/check.png);
  display: inline-block;
} */
/* .activepaylink-kyc::after {
  position: fixed;
  left: 201px;
  content: url(../../assets/images/arrow_back_ios.png);
  transform: matrix(1, 0, 0, -1, 11, 1);
  display: inline-block;
} */

.btnbackground {
  background-color: #0156b3;
  /* background-color: rgb(1, 86, 179); */
 
}
.panVerfied {
  margin-left: 256px;
}

.notVerifiedtext {
  margin-left: 250px;
}

.checkboxstyle {
  margin-top: 8px;
}

.paymentSubHeader {
 /* font-family: "Satoshi"; */
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: black;
}

.subHeaderForModal {
  font-family: "Satoshi"; 
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}

.paymentHeader {
  font-family: "Satoshi-Regular";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: black;
}

.border-dotted {
  border-style: dotted;
  border-width: 2px;
  border-color: black;
}
.pan-card {
  z-index: 999;
  position: relative;
  right: 337px;
}
.emailotp {
  vertical-align: middle;
  text-align: center;
  bottom: -24px;
  position: relative;
}

.verfy-btn {
  line-height: 18px;
  background-color: #0156b3;
}

.para-style {
  /* font-family: "Satoshi"; */
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 225%;
  color: black;
}

.para-style2 {
  /* font-family: "Satoshi"; */
  margin-left: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 225%;
  color: black;
}

.modal-header-fignma {
  padding: 5px 14px 4px 14px;
  background-color: #4285f8;
}

.modal-close-button {
  padding: 12px 20px 18px 0px;
}

.modalsimageclass {
  width: 70%;
  margin-top: 0rem;
  margin-left: 66px;
}

.modalsimageclass-1 {
  width: 45%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .optbtn {
    display: none;
  }
  
.cardsection{
  width:100% !important;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .optbtn {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .optbtn {
    display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .optbtn {
    position: absolute !important;
    right: -99px;
    z-index: 999;
    top: -51px;
    margin-right: -5px !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .optbtn {
    position: absolute !important;
    right: -99px;
    z-index: 999;
    top: -51px;
    margin-right: -5px !important;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .optbtn {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .optbtn {
    display: none;
  }
}

/* For PAN VALIDATION IN BUSINESS Details */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .panbtn {
    display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .panbtn {
    position: absolute !important;
    right: -85px;
    z-index: 999;
    top: -1px;
    margin-right: -5px !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .panbtn {
    position: absolute !important;
    right: -85px;
    z-index: 999;
    top: -1px;
    margin-right: -5px !important;
  }
}

/* For PAN VALIDATION IN BUSINESS Details */

.kyc-modal_form {
  max-width: 1696px;
  min-width: 100%;
  display: revert;
  /* margin-left: -6rem; */  
  height: 100%;
  margin-top: 126px;
  
}

.cross_KYC {
  height: 34px;
  width: 38px;
  margin-top: -3rem;
}

.text-font {
  font-family: Satoshi-bold;
  font-size: 15px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
}

.text-font-ForStatusChange::before {
  /* position: fixed; */
  /* position: relative;
  left: -7px;
  content: url(../../assets/images/check.png);
  display: inline-block;
  padding-left: 13px; */
}
.text-font-ForStatusChange {
  /* font-family: Satoshi; */
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  white-space: nowrap;
}

.kyc-form-status-icon {
  line-height: inherit;
  margin-right: 5px;
  font-size: 16px;
}

.text-kyc-header {
  /* font-family: "Satoshi-Medium"; */
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 224%;
  color: black;
}

.text-kyc-label {
  /* font-family: "Satoshi"; */
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  color: black;
}

.text-kyc-sumit {
  /* font-family: "Satoshi"; */
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  
}

.exp-tranc {
  margin-top: 16px;
}

.cardsection{
    background-color: #F2F2F2;                       
    height: 100%;
    margin-top: 0rem;
    width: 730px;
    /* box-shadow: 0px 4px 14px 4px rgba(0, 0, 0, 0.25); */
    border-radius: 0px 4px 4px 0;
    overflow-Y: scroll !important;
}
.otpbtn{
    /* position: absolute !important;
    right: 16px;
    top: 46px; */
}
.otpbtn a{
    border-radius: 0 6px 6px 0;
    max-height: 33px;
}
.otpbtngst{
  right: 102px;
  position: absolute !important;
  top: 46px;
  border-radius: 0 4px 4px 0 !important;
  min-height: 32px !important;
  }
.otpbtngst a{
    border-radius: 0 6px 6px 0;
    height: 32px;
}
/* 
.otpbtndetail{
    
} */
.otpbtndetail{
  top: 46px;
  position: absolute !important;
  right: 14px;
  min-height: 31px !important;
  }
  .otpbtndetail a{
    border-radius: 0 6px 6px 0;
    height: 32px;
  }

  .otpbtndetails{
    top: 46px;
    position: absolute !important;
    right: 104px;
    min-height: 31px !important;
    }
    .otpbtndetails a{
      border-radius: 0 6px 6px 0;
      height: 32px;
    }

.otpbtnaccnt{
  top: 46px;
  position: absolute !important;
  right: 106px;
  min-height: 31px !important;
}
.otpbtnaccnt a{
    border-radius: 0 6px 6px 0;
    height:32px;
}
.marg-b p.text-danger{
  margin-bottom:0;
}
.success img{
  position: absolute;
    top: 7px;
    right: 7px;
}
a.inactive{
  color:#000;
}
.imp_css{
  white-space: nowrap;
    display: flex;
    line-height: 9px;
    margin-top: 5px;
}
.notfound p{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  
}

.menu-tab-kyc{
  padding : 0px
}