.mandateCard {
    height: 45px;
    border-radius: 20px;
    width: 536px;
 }
 
 .downMandate {
     margin-left: 350px;
 }

 .mand {
    border: 1px solid rgba(0, 0, 0, 0.12);
    text-decoration: none;
 }

 .npciimg {
    width: 250px;
 }

 /* Add general styling to the accordion */
/* #accordion {
  margin-top: 50px;
} */

/* Add spacing between collapse items */
/* .card-header {
  margin-bottom: 10px;
} */

/* Styling for each card header */
/* .card-header {
  border-radius: 20px;
  background-color: #f2f2f2;
  border: none;
} */

/* Styling for the button inside card header */
/* .card-header button {
  color: #333;
  font-weight: bold;
} */

/* Styling for the expanded button */
/* .card-header button[aria-expanded="true"] {
  color: #007bff;
} */

/* Styling for the chevron icon */
/* .card-header i {
  float: right;
  margin-top: 5px;
} */

/* Styling for the card body */

