/* use for any tag on your page */
[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}
/* box for title text */
[data-title]:after {
  content: attr(data-title);

  position: absolute;
  bottom: -1.6em;  	
  left: 100%;
  z-index: 99999;
  visibility: hidden;

  white-space: nowrap;

  background-color: #00FF00;
  color: #111;
  font-size: 150%;
  padding: 1px 5px 2px 5px;
  box-shadow: 1px 1px 3px #222222;
  opacity: 0;
  border: 1px solid #111111;
}
[data-title] {
  position: relative;
}
