table.tables th{
  background: #f7f7f7;
  padding: 8px;
  font-size: 14px;
}
table.tables {
  padding: 8px;
  font-size: 13px;
  border: 1px solid #f7f7f7;
}
table.tables tr:nth-child(even) {
  background: #fff;
}
table.tables tr:nth-child(odd) {
  background: #fcfcfc;
}
.mrg-btm {
  margin-bottom: 10px;
}
.mar-top {
  margin-top: 10px;
}
.bgcolor {
  background: #fcfcfc;
  padding: 10px 0;
}
.my_account_wrapper .merchant-detail-container {
  justify-content: none !important;
}
.nopad{
  padding: 0 0 0 0 !important;
}

.new-tab{
  padding-top: 5px;
  margin-left: 5px;
  font-size: 10px;
  float: right;
  position: inherit;
  background: red;
  line-height: initial;
  margin: 0;
  font-weight: bold;
  padding: 2px;
  border-radius: 2px 5px;
  margin-top: 10px;
  animation: blinker 1s linear infinite;
}


/* Css for terms and condition close button*/

.closebtn{
  background:#0156B3;
  width:50%;
  height:30px;  
  border-radius:4px;
  border:none;
}
/* Css for Registration*/
.figmabtn{
  background:#0156B3;
  width:100%;
  height:40px;  
  border-radius:6px;
  border:none;

}
.parafigma{
  color: #0143A1;
  font-family: Satoshi;
font-size: 36px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0em;
text-align: center;
width:299px;
height:115px;
margin-top: -154px;
margin-left: 97px;
}

.fontfigma{
  color:#012167;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
}
.Signupfigma{
  color:#012167;
  font-weight: 400;
  font-size: 14px;  
}


@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.viewicon{
  position: absolute;
    right: 14px;
    top: 10px;
    z-index: 999;
}
.viewicons{
  position: absolute;
    right: 58px;
    top: 221px;
    z-index: 999;
}

/*All Approvekyc button color class */
.approve{
  background:#0156B3;
  
}


/*All forget password button color here */


.userIdbutton{
  background: #0156B3;
  border: 0;
  border-radius: 4px;
  padding:8px 20px;
}
.verifyclr{
  background: #0156B3;
  border: 0;
  border-radius: 3px;
  padding:8px 20px;
}

.createpasswordBtn{
  background: #0156B3;
  border: 0;
  border-radius: 3px;
  padding:8px 20px;
}


.announcement-banner-container {
  padding: 20px;
  padding-bottom: 0;
}
.announcement-banner {
  background: #fff;
  height: 50px;
  position: relative;
  border-radius: 4px;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%);
  display: table;
  width: 100%;
  padding: 20px;
}
.announcement-banner .title {
  position: relative;
  height: 100%;
  font-size: 50px;
  font-weight: bold;
  color: #fff;
  border-radius: 2px 0 0 2px;
  padding-right: 50px;
  background: rgb(255, 195, 0);
}
.announcement-banner .title:before {
  bottom: 0;
  width: 60px;
  height: 100%;
  opacity: .5;
  right: 25px;
  background-color: currentColor;
  transform: skew(30deg);
}

.announcement-banner .title:before, .announcement-banner .title:after {
  position: absolute;
  display: block;
  content: '';
}


.onboarding-illustration-top{
    position: absolute;
    top: -40px;
    right: -81px;
    
    height: 60px;
    display: flow-root;
}
.cardkyc{
  padding:10px !important;
  
  border: 1px solid #8ec2ff !important;
}
.cardkyc .card-body{
  padding: 0 !important;
  line-height: 47px;
}
.kycbtns{
    line-height: 17px !important;
    margin: 8px 0 0 14px !important;
    border: 0;
    border-radius: 3px;
    padding:8px 20px;
}
.newcard{
  color: #cd8214;
}

/* Css for Dashboard  IF KYC IS PENDING*/

.ModalButtonClr{
  border: 0;
  background: #0156B3;
  box-shadow: 0px 14px 10px rgba(66, 133, 248, 0.5);
border-radius: 4px;
height: 40px;
width: 250px;
}
.homeModalHeading{
  color: #000000;
  /* font-family: 'Satoshi'; */
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 156.5%;
}
.modalscolrsfortext{
  /* font-family: 'Satoshi'; */
  color: #000000;
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 224%;
}
.footerforcopyright{
  font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 156.5%;
position:absolute;
top: 610px;
right: 485px;
/* or 28px */
color: #FFFFFF;
}

/* Css for Dashboard  IF KYC IS APPROVED*/
.modalbtnsuccess{
  /* font-family: 'Satoshi'; */
  border: 0;
  background: #0156B3;
  box-shadow: 0px 14px 10px rgba(66, 133, 248, 0.5);
  border-radius: 4px;
  height: 40px;
  width: 250px;
}
.modalscolrsfortextapprv{
  /* font-family: 'Satoshi'; */
  color: #000000;
font-style: normal;
font-weight: 700;
font-size:24px;
line-height: 35px;
align-items: centre;
margin-left: 20px;
}

 .congratstext {
  color: "#4BB543";
  font-weight: "700";
  font-size: "24px";
  size: "32px";
}



/* Css for CreatePaymentLink here*/
.cratepaymentlinkclrsfigma{
  background: #0156B3;
  border: 0;
  border-radius: 3px;
  padding:8px 20px;

}
.ColrsforDeletefigma{
  background: #FF3E06;
  border: 0;
  border-radius: 3px;
  padding:8px 20px;

}
