table.tables th {
  background: #f7f7f7;
  padding: 8px;
  font-size: 14px;
}

table.tables {
  padding: 8px;
  font-size: 13px;
  border: 1px solid #f7f7f7;
}

table.tables tr:nth-child(even) {
  background: #fff;
}

table.tables tr:nth-child(odd) {
  background: #fcfcfc;
}


.mrg-btm {
  margin-bottom: 10px;
}

.mar-top {
  margin-top: 10px;
}

.bgcolor {
  background: #fcfcfc;
  padding: 10px 0;
}

.my_account_wrapper .merchant-detail-container {
  justify-content: none !important;
}

.nopad {
  padding: 0 0 0 0 !important;
}

.new-tab {
  padding-top: 5px;
  margin-left: 5px;
  font-size: 10px;
  float: right;
  position: inherit;
  background: red;
  line-height: initial;
  margin: 0;
  font-weight: bold;
  padding: 2px;
  border-radius: 2px 5px;
  margin-top: 10px;
  animation: blinker 1s linear infinite;
}


/* Css for terms and condition close button*/

.closebtn {
  background: #0156B3;
  width: 50%;
  height: 30px;
  border-radius: 4px;
  border: none;
}

/* Css for Registration*/
.figmabtn {
  background: #0156B3;
  width: 100%;
  height: 40px;
  border-radius: 6px;
  border: none;
  box-shadow: rgb(66 133 248 / 50%) 0px 14px 10px;

}

.parafigma {
  color: #0143A1;
  /* font-family: Satoshi; */
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  width: 299px;
  height: 115px;
  margin-top: -154px;
  margin-left: 97px;
}

.fontfigma {
  color: #012167;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
}

.Signupfigma {
  color: #012167;
  font-weight: 400;
  font-size: 14px;
}


@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.homeiconsize {
  font-size: 16px;
}

.viewicon {
  position: absolute;
  right: 14px;
  top: 10px;
  z-index: 999;
}
.viewfor {
  position: absolute;
  right: 39px;
    top: 61px;
  z-index: 999;
}


.viewicons {
  position: absolute;
  right: 58px;
  top: 221px;
  z-index: 999;
}

/*All Approvekyc button color class */
.approve {
  background: #0156B3;

}


/*All forget password button color here */


.userIdbutton {
  background: #0156B3;
  border: 0;
  border-radius: 4px;
  padding: 8px 20px;
}

.verifyclr {
  background: #0156B3;
  border: 0;
  border-radius: 3px;
  padding: 8px 20px;
}

.createpasswordBtn {
  background: #0156B3;
  border: 0;
  border-radius: 3px;
  padding: 8px 20px;
}


.announcement-banner-container {
  padding: 20px;
  padding-bottom: 0;
}

.announcement-banner {
  background: #fff;
  height: 50px;
  position: relative;
  border-radius: 4px;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%);
  display: table;
  width: 100%;
  padding: 20px;
}

.announcement-banner .title {
  position: relative;
  height: 100%;
  font-size: 50px;
  font-weight: bold;
  color: #fff;
  border-radius: 2px 0 0 2px;
  padding-right: 50px;
  background: rgb(255, 195, 0);
}

.announcement-banner .title:before {
  bottom: 0;
  width: 60px;
  height: 100%;
  opacity: .5;
  right: 25px;
  background-color: currentColor;
  transform: skew(30deg);
}

.announcement-banner .title:before,
.announcement-banner .title:after {
  position: absolute;
  display: block;
  content: '';
}


.onboarding-illustration-top {
  position: absolute;
  top: -40px;
  right: -81px;

  height: 60px;
  display: flow-root;
}

.cardkyc {
  padding: 10px !important;

  border: 1px solid #8ec2ff !important;
}

.cardkyc .card-body {
  padding: 0 !important;
  line-height: 47px;
}

.card .card-body {
  padding: 1.25rem 0 !important;
}
.card{
  padding: 10px 26px !important;
}
.card .price{
  /* line-height: 22px;
    font-size: 44px;
    padding: 28px 0 0 0;
    font-weight: 800;
    margin: 32px 0;
    display: inline-block;
   
    line-height: 36px;
    padding: 0; */
    line-height: 22px;
    font-size: 20px;
    padding: 28px 0 0 0;
    font-weight: bold;
    margin: 21px 0;
    display: inline-block;
    line-height: 21px;
    padding: 0;
    min-height: 21px;
    max-height: 25px;
}

.kycbtns {
  line-height: 17px !important;
  margin: 8px 0 0 14px !important;
  border: 0;
  border-radius: 3px;
  padding: 8px 20px;
}

.newcard {
  color: #cd8214;
}

/* Css for Dashboard  IF KYC IS PENDING*/

.ModalButtonClr {
  border: 0;
  background: #0156B3;
  border-radius: 6px;
  height: 40px;
  width: 250px;
  box-shadow: 0px 14px 10px rgba(66, 133, 248, 0.5);
border-radius: 6px;
  
  
}

.homeModalHeading {
  color: #000000;
  /* font-family: 'Satoshi'; */
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 156.5%;
}

.modalscolrsfortext {
  /* font-family: 'Satoshi';  */
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 224%;
}

.footerforcopyright {
  /* font-family: 'Nunito Sans'; */
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 156.5%;
  /* margin-left: 32%; */
  /* or 28px */
  color: #FFFFFF;
  width: 100%;
}
#fullname:focus { 
    outline: none !important;
    border-bottom:2px solid #54E28D;
     }
     #mobilenumber:focus { 
      outline: none !important;
      border-bottom:2px solid #54E28D;
       }
       #email:focus{
        outline: none !important;
        border-bottom:2px solid #54E28D;
       }
       #businesscode:focus{
        outline: none !important;
        border-bottom:2px solid #54E28D;
       }
       #user-pws:focus{
        outline: none !important;
        border-bottom:2px solid #54E28D;
       }
       #user-cpw:focus{
        outline: none !important;
        border-bottom:2px solid #54E28D;
       }




.mymodals {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Css for Dashboard  IF KYC IS APPROVED*/
.modalbtnsuccess {
  /* font-family: 'Satoshi'; */
  border: 0;
  background: #0156B3;
  box-shadow: 0px 14px 10px rgba(66, 133, 248, 0.5);
  border-radius: 4px;
  height: 40px;
  width: 250px;
}

.modalscolrsfortextapprv {
  /* font-family: 'Satoshi'; */
  color: #000000;
  font-style: normal;
  /* font-weight: 700; */
  font-size: 18px;
  line-height: 24px;
  align-items: centre;
  /* margin-left: 20px; */
  /* line-height: 0.4; */
  
}

.congratstext {
  color: "#4BB543";
  font-weight: "700";
  font-size: "24px";
  size: "32px";
}



/* Css for CreatePaymentLink here*/
.cratepaymentlinkclrsfigma {
  background: #0156B3;
  border: 0;
  border-radius: 3px;
  padding: 8px 20px;

}

.ColrsforDeletefigma {
  background: #FF3E06;
  border: 0;
  border-radius: 3px;
  padding: 8px 20px;

}

.ColrsforredirectProdct {
  /* background: #FF3E06; */
  border: 0;
  border-radius: 4px;
  padding: 10px 20px;
  margin-left: 33px;
  background: #FF0000;
opacity: 0.7;
/* Drop Shadow */

box-shadow: 0px 14px 10px rgba(66, 133, 248, 0.5);
}

button:disabled,
button[disabled1] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

/* Css for pricing*/

.headingpricing {
  /* font-family: 'Roboto'; */
  font-style: normal;
  font-weight: 700;
  font-size: 41px;
  line-height: 48px;
  text-align: center;
  color: #000000;
}

.forbasicparacss {
  /* font-family: 'Roboto'; */
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  text-align: center;

  color: #000000;
}

.heightcards {
  /* height: 490px; */
  min-height: 486px;
  max-height: 600px;

}

.figmacssforEnterpricechooseplan {
  background: #4285F8;
  border-radius: 3px;
  position: absolute;
  width: 223px;
  height: 52px;
  left: 73px;
  top: 209px;

}

.featurespricingforEnterpricing {
  /* margin-bottom: 136px; */
  /* font-family: 'Montserrat !important'; */
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  letter-spacing: 2px;

}

.forEnterPriceparaGcss {
  /* font-family: 'Roboto '; */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
}

.cardoneheadingcss {
    /* font-family: 'Montserrat'; */
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 29px;
  text-align: center;
  color: #000000;

}

.cardoneheadingcss2 {
    /* font-family: 'Montserrat'; */
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;


}

.forimagespricing {
  margin-left: 88px;
  /* margin-top: -20px; */

}

.forimagesEnterpricing {
  margin-left: 71px;
  margin-top: -16px
}

.graphcssforenterprice {
    /* font-family: 'Montserrat'; */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;

  color: #DDDDDD;

}

.paragraphcsss {
    /* font-family: 'Montserrat'; */
  font-style: normal;
  font-weight: 900;
  /* margin-top: -21px; */
  font-size: 12px;
  /* line-height: 17px; */
  text-align: center;
  color: #747474;
}

.myfont {
  font-size: 50px;
  font-weight: 900;
}

.figmacssforchooseplan {
  border-radius: 4px;
  border: 3px solid #1465FA;
  border-radius: 3px;
  position: absolute;
  width: 223px;
  height: 52px;
  left: 59px;
  /* top: 210px; */
}

.featurespricing {
  /* margin-bottom: 136px; */
  /* margin-left: 40px; */
  /* font-family: 'Montserrat featurespricing'; */
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1px;
  color: #1465FA;
}

.centered {
    /* font-family: 'Montserrat'; */
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #1465FA;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.forThirdscardfigma {
    /* font-family: 'Montserrat'; */
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000000;

}

.forparacss {

  /* font-family: 'Roboto'; */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  color: #747474;
}


.firstli1 {
  /* font-family: 'Roboto'; */
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  /* text-align: center; */

  color: #747474;

}

.secondli1 {
  /* font-family: 'Roboto'; */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;

}

.thirdli1 {
  /* font-family: 'Roboto'; */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #747474;

}

.forsecondcardfigma {
    /* font-family: 'Montserrat'; */
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.Businessoredrcssforcard {
  /* font-family: 'Roboto'; */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  color: #747474;
}

.parabusinesscss {
    /* font-family: 'Montserrat'; */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #747474;

}

.backgroundCard {
  background: #012167;
  border: 1px solid #DBDBDB;
  box-shadow: 0px 4px 5px 1px rgba(193, 193, 193, 0.35);
  border-radius: 4px;
}

.cssforbusinesscard {
  margin-left: 71px;
  margin-top: -15px;
}

.featuresIncludingforbusiness {
  /* font-family: 'Montserrat'; */
  font-style: normal;
  font-weight: 700;
  /* margin-bottom: 136px; */
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #1465FA;
  letter-spacing: 2px;
}

.subscribingproduct {
  /* font-family: 'Satoshi'; */
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 156.5%;
  text-align: center;
  color: #464145;
}

.Thankusubscribingcss {
  margin-right: 20px;

}

.chooseplanheadingcss {
    /* font-family: 'Montserrat'; */
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #1465FA;

}

.dashboardfont {
  font-size: 14px;
}

.dashboardEnablecss {
  /* font-family: 'Roboto'; */
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #44525f;
}

.paragraphcssdashboards {
  /* font-family: 'Roboto'; */
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #000000;

}

.forSpinner {
  margin-top: 126px;
  margin-left: 30px;
}

/* Harris CSS For Login Image Dynamic and Side Nav Font*/
.loginscreenimage {
height: 259px;
/* width: 459px; */
left: 1485px;
top: 4347px;
border-radius: 0px;
}
/* Harris CSS For Login Image Dynamic and Side Nav Font*/
.loginscreenimagereg {
  height: 349px;
  /* width: 459px; */
  left: 1485px;
  top: 4347px;
  border-radius: 0px;
  }

.sidenavFonts {
    /* font-family: Roboto; */
  font-size: 14px;
  font-weight: 400;
}





/* Harris CSS For Login Image Dynamic*/


.modalsubmitmodal {
  margin-left: -136px;
}

.hrForCard {

  background: #D9D9D9;
  height: 1px;
}

.pricingclasscss {
  /* font-family: 'Roboto'; */
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 130.19%;
  color: #0156b3;
}

.foralinkscsshere {
  /* font-family: 'Roboto'; */
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #44525f;
}

.manshacss {
  /* font-family: 'Satoshi'; */
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 224%;
  color: #000000;

}




.choosePlan-1 {
  padding: 1.5em !important;
  font-size: 1em !important;
  line-height: 0 !important;
  width: 100% !important;
  border: 2px solid  #4285F8 !important;
  /* box-shadow: 0 0 0 1px #038fde, inset 0 0 0 1px #fff !important; */
}
.choosePlan-1:hover{
  background: #4285F8;
  color:#fff;
}

.choosePlan-2{
  padding: 2em !important;
  font-size: 1em !important;
  line-height: 0 !important;
  width: 100% !important;
  background: #4285F8;
  border-radius: 3px;
  }

    @media (min-width: 1200px){
    .container {
      max-width: 100% !important;
    }
  }
  
  .foraccount{
    font-family: 'Satoshi';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 92.5%;
color: #696969;

  }
  /* Profile CSS HERE START*/
  .profile-header{
    display:flex;
    align-items: right;
    display:inline-block;
     padding:8px 12px;
    position:relative; 
  }
.cssfor_account{
  /* font-family: 'Roboto'; */
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 156.5%;
/* identical to box height, or 38px */

letter-spacing: 0.04em;

color: #414141;

}
.edits_buttn{
  background: #B0B0B0;
border: 0.6px solid #B1B1B1;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.save_buttns{
  margin-left:"-228px"!important;
  background: #4BB543;
border: 0.6px solid #B1B1B1;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.for_Headingss{
  /* font-family: 'Roboto'; */
font-style: normal;
font-weight: 600;
font-size: 17px;
line-height: 156.5%;
/* or 31px */


color: #263A43;
}
.for_passwrd{
  /* font-family: 'Roboto'; */
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 156.5%;
/* identical to box height, or 25px */


color: #4285F8;

}
.spinner-border{
	position: absolute; 
	top: 48%; 
	left: 50%; 
	transform: translate (-50%); 

}
.borders{
  position: absolute; 
	top: -82px;
  left: 429px;
	transform: translate (-50%); 
}
.form_cmplt{
  align-items: center;
}
#clientName:focus{
  outline: none !important;
  box-shadow:none;
  border-bottom:5px solid #54E28D;
border-radius: 0px 0px 5px 5px;
 }
 .edit_nop{
  /* font-family: 'Roboto'; */
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 156.5%;
  /* or 31px */
  
  
  color: #FFFFFF;
  
 }
 .mycss{
   align-items: center;
 }

 

.card-main{
  padding:0 !important; 
  max-Width: 33rem;
}
.no-pad{padding:0 !important;}
.panel{max-width: 100% !important;}
.prdhead{
  font-size: 15px;
    color: #006cbe;
    text-decoration: underline;
    text-transform: uppercase;
}
.pxsolid{
  border-top:1px solid #ccc;
  display: block;
  margin: auto;
}
.no-pad{
  padding: 0;
}
.truncate{
  overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    min-height: 95px;
}
