/* .bg-body-sp {
   
} */

.background_image_left {
    background-image: url("../../../assets/images/login-left-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-bg-color {
    background: rgb(14, 4, 43);
    background: linear-gradient(90deg, rgba(14, 4, 43, 1) 0%, rgba(44, 35, 98, 1) 31%, rgba(25, 7, 76, 0.9632586310891544) 100%);
}

.navbar-item-center {
    justify-content: center;
    align-items: center;
}

.cob-logo {
    width: 11rem;
    height: 3rem;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.container_custom {
    min-height: 100vh;
    overflow: hidden;
    /* margin-top: 1rem */
}

.login_left_bg-color {
    background-color: #ccd7e9
}

.left_arrow {
    background-image: url("../../../assets/images/arrow.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.form_container {
    /* padding: 1em 4em 0 4em;
    margin: 1em 1em 0 1em; */
}


.sp_font_12 {
    font-size: 12px;
}

.sp_font_14 {
    font-size: 14px;
}

.sp_font_20 {
    font-size: 20px;
}



.left_screen {
    width: 75%;
    border-radius: 10px;
    background: #ffffff63;
}

.right_screen {
    width: 100%;
}


.login_banner {
    width: 65%;
}


/* start text decorate */

.text_line {
    position: relative;
    /* font-size: 30px; */
    z-index: 1;
    overflow: hidden;
    text-align: center;

}

.text_line:before {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 30%;
    height: 1px;
    content: '\a0';
    background-color: #D2D2D2;
    margin: 0 20px;
}

.text_line:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 30%;
    height: 1px;
    content: '\a0';
    background-color: #D2D2D2;
    margin: 0 20px;
}

.text_line:before {
    margin-left: -33%;
    text-align: right;

}




@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }

}


@media (max-width: 992px) {
    .left_screen {
        width: 100%;
    }

    .flex_column_reverse {
        flex-direction: column-reverse !important;
    }

}

@media (max-width: 768px) {
    .flex_column_reverse {
        flex-direction: column-reverse !important;
    }

    .form_container {
        margin-top: 3rem;
    }
}