.z_index_99999 {
    z-index: rounded-0
}

.table_layout_fixed {
    table-layout: fixed;
}

.table_layout_fixed td {
    word-wrap: break-word;
}

.customBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0);
    z-index: 1040;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    transition: background 0.3s ease-in-out;
    overflow: auto;
}

.backdropShow {
    background: rgba(0, 0, 0, 0.5);
}

.offcanvas {
    z-index: 1050;
}

.cursor_pointer {
    cursor: pointer;
}