.z_index_99999 {
    z-index: rounded-0
}

.table_layout_fixed {
    table-layout: fixed;
}

.table_layout_fixed td {
    word-wrap: break-word;
}


.offcanvas {
    z-index: 1050;
}

.cursor_pointer {
    cursor: pointer;
}