
header{  width:100%; padding:0px; position:relative; background:#fff;}
.logo{display: flex;display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;}
.logo img{float:left;height:51px;}
.header_first_list{display:flex;display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;padding:0px;margin:0;list-style-type: none;-webkit-box-align: stretch;-webkit-align-items: stretch;-ms-flex-align: stretch;align-items: stretch;-webkit-box-pack: justify;
-webkit-justify-content: space-between;-ms-flex-pack: justify;justify-content: space-between;padding:0 14rem 0 0;}
.header_first_list li{float: left;padding:0 40px;flex: 0 1 auto;-webkit-box-flex: 0;-webkit-flex: 0 1 auto;-ms-flex: 0 1 auto;position: relative;}
.header_first_list > li > a{color: #565870;transition: 0.4s all;}
.header_first_list > li > a:hover{color: #0B4A94;}
.header_first_list > li > a svg{fill:#565870;}
.header_first_list > li > a:hover svg{fill:#0B4A94;}
.header_second_list{display: flex;display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;padding:0px;margin: 0;list-style-type: none;}
.header_second_list li{float: left; padding:0 10px; margin:0; line-height: 44px; white-space: nowrap;}
.header_second_list li a{float: left; color: #0B4A94;}
.header_second_list li a:hover{color: #111;}
.header_second_list li .btnlink span{float: left;line-height:34px;width: calc(100% - 30px);text-align: center;}

.header_second_list li .btnlink{background: #0B4A94;
    
    color: #fff;
    border: 1px solid #0B4A94;
    padding: 6px 15px 6px 15px;
    border-radius: 4px;
    transition: 0.5s all;
    margin-top: 4px;
   
    height: 40px;
   
    line-height: 24px;
    white-space: nowrap;}


    .bttn {
        color: white;
    }
    .bttnbackgroundkyc {
        background-color: #0156B3;
    }

    .eyeicon {
     position: absolute;
    right: 28px;
    top: 45px;
    z-index: 999;
    }


    /* Harris CSS  */

.header_second_list li .btnlink svg{float: right;fill:#0B4A94;margin-top:5px;}
.header_second_list li .btnlink:hover svg{fill: #fff;opacity:0.5;}
.header_second_list li .btnlink:hover{background: #0B4A94;color: #fff;}
.xs_alignment{float: right;width: calc(100% - 270px);}
.home_sec{padding:85px 0 130px;width: 100%;display: table;position: relative;overflow: hidden;}
.banner_key_height{float: left;width: 100%;font-weight: 300;font-size: 20px;color: #606060;margin-bottom: 30px;}
.banner_mini_bold{float: left;width: 100%;font-weight: 300;font-size: 44px;color: #303030;margin-bottom: 10px;}
.banner_bold_title{float: left;width: 100%;font-weight: 700;font-size: 44px;color: #303030;margin-bottom:60px;}
.right_warp_banner{float: left;width:calc(100% - 170px);padding-left: 20px;margin:0 0 70px;}
.api_key_btn{float:left;background: #0B4A94;color: #fff;border: 1px solid #0B4A94;padding: 8px 10px;border-radius: 2px;transition: 0.5s all;font-weight: 600;font-size: 16px;}
.api_key_btn span{float: left;}
.api_key_btn svg{fill: #fff;float:left;margin-left: 5px;}
.api_key_btn:hover{background: #fff;color: #0B4A94;}
.api_key_btn:hover svg{fill: #0B4A94;}
.question_title{float: left;width: 100%;font-weight: 700;font-size: 16px;color: #303030;}
.question_con{float: left;width: 100%;color: #606060;font-weight: 300;font-size: 16px;}
.contact_link{color: #303030;text-decoration: underline;}
.blue_sec{float: left;width: 100%;padding:45px 0 50px;background:linear-gradient(94.2deg, #144278 0%, #0B4A94 100%), #C4C4C4;}
.slick_sec{float: left;width: 100%;padding: 100px 0 60px;}
.common_left_title{float: left;width: 100%;color: #303030;font-weight: 700;font-size: 36px;margin-bottom: 20px;}
.common_left_desc{float: left;width: 100%;font-weight: 400;font-size: 16px;color: #606060;line-height: 30px;}
.specification_right_wrap{float: left;width:calc(100% - 24px);padding-left: 20px;}
.our_specification_list{float: left;width: 100%;padding: 50px 0 0;margin: 0;list-style-type: none;}
.our_specification_list li{float: left;width: 100%;margin-bottom: 30px;}
.our_specification_list li a{display: inline-block;transition: 0.4s all;}
.refrence_linnk{float: left;width: 100%;font-weight: 600;font-size: 20px;color: #606060;line-height: 24px;}
.our_specification_list li a:hover .refrence_linnk , .our_specification_list li a.active .refrence_linnk{color: #0B4A94;}
.hider_desc{color: #606060;float: left;width: 100%;font-size: 16px;font-weight: 400;margin-top: 12px;line-height: 35px;opacity: 0;height: 0;overflow: hidden;transition:ease 1s all;-wekit-transition:ease 1s all;-mz-transition:ease 1s all;}
.our_specification_list li a.active .hider_desc{opacity:1;height:auto;overflow: visible;}
.our_specification_list li a svg{float: left;fill: #606060;height: 24px;width: 24px;}
.our_specification_list li a:hover svg , .our_specification_list li a.active svg{fill: #0B4A94;}
.read_our_document_link{display: inline-block;font-weight: 600;font-size: 18px;color: #0B4A94;}
.read_our_document_link img{margin-left: 6px;}
.read_our_document_link:hover{text-decoration: underline;}
.our_feature_sec{float: left;width: 100%;padding: 60px 0 80px;}
.our_feature_sec_new{float: left;width: 100%;padding: 60px 0 80px;background: linear-gradient(94.2deg, #144278 0%, #0B4A94 100%);}
.our_feature_sec_new *{color:#fff!important;}
.feature_img{float: left;}
.our_feature_right_wrap{float: left;width:calc(100% - 100px);padding-left: 20px;}
.feature_title{float: left;width: 100%;font-weight: 700;color: #303030;font-size: 24px;margin-bottom: 10px;}
.feature_desc{float: left;width: 100%;font-weight: 400;color: #606060;font-size: 15px;margin-bottom: 80px;line-height: 28px;}
.upi_journey_sec{float: left;width: 100%;padding: 80px 0 60px;}
.upi_common_left_desc{float: left;width: 100%;font-weight: 400;font-size: 20px;color: #606060;line-height: 30px;margin:0;}
.upi_steps{float: left;width: 100%;padding: 15px 0 0;list-style-position:inside;margin:30px 0 0;}
.upi_steps li{float: left;width: 100%;font-size: 18px;color: #606060;font-weight: 400;margin-bottom: 25px;line-height: 28px;}
.margin_top_align{margin-top: 180px;}
.learning_section{float: left;width: 100%;padding: 60px 0;}
.padding_right_align{padding-right: 60px;}
.slide_btns{position: absolute;top:calc(50% - 45px);right: 20px;}
.slide_list{float: left;width: 20px;list-style-type: none;padding: 0;margin: 0;}
.slide_list li{float: left;width: 100%;text-align: center;width: 18px;height: 18px;margin-bottom: 15px;line-height: 18px;}
.slide_list li a{display: inline-block; width: 14px;height: 14px;transition:ease 1s all;-wekit-transition:ease 1s all;-mz-transition:ease 1s all;}

.slide_list li:last-child{margin-bottom: 0;}
footer{float: left;width: 100%;background: #F8F8F8;padding:34px 0 0;}
.footer_blue_tile{float: left;width: 100%;font-weight: 700;font-size: 32px;color: #0B4A94;margin-bottom: 30px;line-height: 40px;}
.footer_conatct_right_wrap{float: left;width:calc(100% - 24px);padding-left: 15px;}
.mini_label_footer{float: left;width: 100%;font-weight: 700;font-size: 20px;color: #0B4A94;line-height: 24px;margin-bottom: 10px;}
.conatct_values{float: left;width: 100%;font-weight: 600;font-size: 20px;color: #0B4A94;line-height: 28px;}
.footer_head{float: left;width: 100%;font-weight: 700;font-size: 20px;color: #303030;margin-bottom: 20px;margin-top: 60px;}
.footer_list{float: left;width: 100%;padding: 0;margin: 0;list-style-type: none;}
.footer_list li{float: left;width: 100%;padding-bottom: 20px;}
.footer_list li a{display: inline-block;color: #606060;font-weight:400;font-size: 18px;word-break: break-word;}
.footer_icons{float: left;}
.footer_btm{float: left;width: 100%;padding: 30px 0;border-top:2px solid #D7D7D7;margin-top: 50px;}
.crp_con{float: left;font-weight: 600;font-size: 18px;color: #606060;}
.follow_us{float: right;margin: 0;padding: 0;list-style-type: none;}
.follow_us li{float: left;padding-left: 15px;}
.find-us{font-weight: 600;font-size: 18px;color: #606060;}
.follow_us li a{display: inline-block;}
.follow_us li a svg{fill: #606060;}
.follow_us li a:hover svg{fill: #0B4A94;}
.fp_icon_open{display: none;}
.fp_menu {float: left;font-size: 18px;font-weight: 500;color: #000;}
.fp_close_icon{float: right;}
.fp_close_icon img {height: 14px;}
.min-height-130{min-height: 130px;}
.homePageTopSection{display:table-cell;vertical-align: middle;}
.code_img_slider_wrap{position: relative;float: left;border-radius: 12px;margin-top: 30px;}
.code_img_slider_wrap img{height:430px;}
.code_img_slider{position:absolute;top:0;left:0;}
.bannerImage{position: absolute;right:100px;bottom:0;left:auto;transform: scale(1);top:113px;}
.bannerImage img{width:811px;height:450px;vertical-align: bottom;max-width:none;}
.flex_wrap{display: flex;}
.flexInner{flex:0 0 auto;-webkit-box-flex: 0;-webkit-flex: 0 0 auto;-ms-flex: 0 0 auto;}
.header-fluid{max-width: 1680px;padding-right: 2.4rem;padding-left: 2.4rem;margin-right: auto;margin-left: auto; /*line-height:48px;*/ display: flex;justify-content: space-between;align-items: center; /*height: 9.6rem;*/}

.code_list_no{color:#515978;background: #EEF0F6;width:56px;border-radius: 12px 0px 0px 12px;position:absolute;left:0;top:0;bottom:0;padding:15px 22px;line-height:18px;font-size:14px;font-weight: 600;text-align: right;font-family: 'Source Code Pro', monospace;}
.code_preview_wrap{color:#505095;background: #FFFFFF;box-shadow: 2px 6px 20px rgba(0, 0, 0, 0.15);border-radius: 12px;float:left;width:100%;padding:15px 10px 15px 70px;text-align: left;position: relative;}
.code_preview{float:left;width:100%;line-height:18px;float: left;width: 100%;font-size:14px;font-weight: 600;padding: 0;background: none;border: 0;color:#505095;}
.pink{color:#e2325e;}
.blue{color:#008080;}
.code_preview_wrap.visible_view{height: 0;opacity:0;overflow:hidden;padding:0;}
.bg_white{background: #ffffff;border-bottom: 3px solid #0B4A94;}
.drp_padd{padding:10px 10px 11px 15px; }
.dropdown_content {display: none;position: absolute;z-index: 1;left: -70px;padding-top:0px;top:100%;}
.caret{ margin-left: 10px;}
.dropdown_hov:hover .dropdown_content {display: block;animation-name:slideIn;animation-duration:0.5s;animation-fill-mode: both;-moz-animation-name:slideIn;-moz-animation-duration:0.5s;-moz-animation-fill-mode: both;-o-animation-name:slideIn;-o-animation-duration:0.5s;-o-animation-fill-mode: both;-webkit-animation-name:slideIn;-webkit-animation-duration:0.5s;-webkit-animation-fill-mode: both;}
.pos_ads {left: -200px !important;}
.popover{min-width: 310px;padding:15px 0px;background-color: #0B4A94;border-radius: 3px;box-shadow: 0 25px 35px 0 rgba(0,0,0,.1);opacity: 1;display: block;border: 1px solid rgba(0,0,0,.15);font-family:Stack,Helvetica,Arial,sans-serif;font-weight:400;}
.dropdown_expand {min-width: 620px !important;padding: 0px !important;margin: 0 !important;}
.popover.bottom > .arrow {top: -7px;left: 39%;}
.popover > .arrow {border-width: 8px;}
.drp_link{float: left; width:100%;}
.drp_link li{float: left;width:calc(100% - 15px);color:#0B4A94;font-size:15px;font-weight:500;padding:16px 0px 0px 0px; min-height:95px;}
.drp_link a{display: inline-block;}
.nav_lft{float: left; width:calc(100% - 45px);  float: left; position: relative;color: #0B4A94;padding:0 0 0 15px;font-size: 1.4rem;}
.nav_lft:hover{color:#0B4A94 ;}
.nav_rig_link .nav_lft:hover{color:#0B4A94 ;}
.nav-rig{float:left;width:45px;}
.nav_rig_link .nav_lft{float: left; width:calc(100% - 25px);position: relative;color: #0B4A94;padding:0 0 0 15px;line-height: 20px;font-weight: 500;}
.nav_rig_link .nav-rig{float:left;width:25px;}
.nav_rig_link li{float: left; width:100%;}
.des_nav{float: left; width:100%;font-size:1.1rem; font-weight: 400;  text-overflow: ellipsis; color:#646464;margin:5px 0 0; white-space: pre-wrap;}
.brd_lft{position: absolute; width:1px; background:#eee; height:70px; right:-19px; top:0px; float: left;}
.brd_tb{border-top:1px solid #eee;}
.coming_soon{background: #1bbc23;color:#fff;padding:2px 5px;border-radius:4px;font-size:9px!important;line-height: 13px;}
.header_first_list li:hover .dropdown_content{display:block;}
.drp_pad{padding:14px 25px; background: #fafafa; border-bottom-right-radius: 50%; max-height:223px; min-height:223px;}
.nav_rig_link{float: left; width:100%; padding-left: 10px;margin: 0; }
.nav_rig_link li {float: left;width: 100%;font-size: 15px;font-weight:500;padding: 8px 0px 8px 0px;}
.nav_rig_link li a{color:#0B4A94;}
.nav_solu li {padding: 12px 0px 12px 0px !important;}
.more_opt{float: left;width: 100%;color:#0B4A94;font-size: 14px;font-weight:600;padding: 0px 0px 10px 4px; }
.img_alin_mb li a{padding:0 0 0 20px;}
.nav_rig_link .nav-rig img {height: 20px;float: left;}
.mobile_navigation_section{float:right;width:100%;background:#fff;position: absolute;padding-top:.2rem;padding-bottom:0rem;top:0;z-index:1;max-width:270px;right:0;box-shadow:rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;opacity:0;visibility:hidden;transition: 0.5s all;-webkit-transition: 0.5s all;}
.mobile_navigation_section.mobile_show{opacity:1;visibility:visible;}
.fp_xs_menu{padding-right: 1.4rem;padding-left: 1.4rem;float:left;width:100%;margin:0 0 5px;}
.mobile_navigation{float:left;width:100%;list-style:none;padding:0;margin: 0;}
.mobile_navigation li{float:left;width:100%;}
.mobile_navigation li a{float:left;width:100%;padding:7px 15px;font-family:Stack,Helvetica,Arial,sans-serif;font-weight:500;font-size:1.4rem;color: #111;border-bottom: 1px solid #eee;}
.mobile_navigation li a:hover{background:#0B4A94;color:#fff;}
.who_we_are_head{font-style: normal;font-weight:400;font-size: 14px;line-height: 17px;float:left;width:100%;margin:0 0 15px;color:#fff;}
.who_we_are_btn{float:left;background:none;color: #fff;border: 1px solid #fff;padding: 8px 10px;border-radius: 2px;transition: 0.5s all;font-weight: 600;font-size: 16px;}
.who_we_are_btn span{float: left;}
.who_we_are_btn svg{fill: #fff;float:left;margin-left: 5px;}
.who_we_are_btn:hover{background: #fff;color: #0B4A94;}
.who_we_are_btn:hover svg{fill: #0B4A94;}
.who_we_are_text{font-size: 14px;line-height:22px;color: #F4F4F4;float:left;width:100%;margin:12px 0 26px;font-weight:500;}
.who_we_are_icons{float:left;width:100%;}
.who_we_are_icons img{display:inline-block;margin:0 40px 20px 0;vertical-align: middle;}
.who_we_are_right{margin:-20px 0px -40px 0;width: 400px;}
.ippo_new_nav_desc{font-family:Stack,Helvetica,Arial,sans-serif;}
.feature_desc_small{float: left;width: 100%;font-weight: 400;color: #606060;font-size: 15px;margin-bottom:20px;line-height: 28px;}
.feature_title_head{float: left;width: 100%;font-weight: 700;color: #303030;font-size:18px;margin-bottom: 10px;}
.intagretion_tab_new{float: left;width: 100%;padding: 30px;box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.15);background: #fff;
border-radius: 10px;margin-top: 20px;}
@media(max-width:767px){
    .fp_icon_open{float: right;}
    .fp_icon_open img {height: 24px;}
    .xs_alignment{position: fixed;top: 0;bottom: 0;right: -100%;overflow-y: auto;background: #fff;min-height: 100vh;z-index: 9;transition: 0.5s all;width: 300px;}
    .header_first_list , .header_second_list{width: 100%;padding: 0;}
    .header_first_list li , .header_second_list li{padding: 0;width: 100%;}
    .header_first_list li a svg{float: right;margin-top: 10px;}
    .header_first_list li a{border-bottom: 1px solid #eee;width: 100%;padding: 10px 15px;}
    .header_first_list li a:hover{background: #e0ecff;}
    .header_second_list li a{border-bottom: 1px solid #eee;width: 100%;padding: 10px 15px;font-weight: 400;color: #565870;}
    .header_second_list li a:hover{background: #e0ecff;color: #0B4A94;}
    .header_second_list li button{border:none;border-bottom: 1px solid #eee;width: 100%;padding: 10px 15px;font-weight: 400;color: #565870;background: #fff;margin: 0;}
    .header_second_list li button:hover{background: #e0ecff;color: #0B4A94;}
    .header_second_list li button svg{display: none;}
    .fp_mb_open{right:0%;}
    .fp_icon_open{display: block;}
    .home_sec{padding:60px 0 0px;}
    .slick_sec , .our_feature_sec,.our_feature_sec_new , .upi_journey_sec , .learning_section{padding: 30px 0;}
    .banner_mini_bold , .banner_bold_title{font-size: 33px;}
    .right_warp_banner {padding: 0;width: 100%;margin-top: 30px;}
    .our_feature_right_wrap {padding: 0;width: 100%;margin-top: 30px;}
    .our_feature_right_wrap .feature_desc{margin-bottom: 30px;}
    .padding_right_align{padding-right: 15px;}
    .common_left_title{font-size: 28px;}
    .slide_btns{display: none;}
    .margin_top_align{margin: 0;}
    footer{padding: 30px 0 0;}
    .footer_head{margin-top: 20px;}
    .footer_btm{margin-top: 20px;}
    .crp_con{width: 100%;font-size: 15px;font-weight: 600;line-height: 28px;}
    .follow_us{float: left;padding-top: 15px;}
    .follow_us li{padding:0 15px 0 0;}
    .footer_btm{padding: 15px 0;}
    .code_img_slider{padding:0 10px;}
    .code_img_slider_wrap img{height:270px;width:100%;object-fit: contain;}  
    .read_our_document_link{margin:0 0 15px;}  
    .header-fluid{max-width: 1680px;padding-right: 1.4rem;padding-left: 1.4rem;padding-top:.2rem;padding-bottom:.2rem;height:auto;}
    .bannerImage{position:static;}
    .bannerImage video{width:100%;height:auto;vertical-align: bottom;}
    .flex_wrap {flex-flow: row wrap;}
    .bannerImage img{width:100%;height:auto;vertical-align: bottom;}
    .who_we_are_right{margin:0px;}
}
@media(min-width:768px) and (max-width:991px){
    .fp_icon_open{float: right;}
    .fp_icon_open img {height: 24px;}
    .xs_alignment{position: fixed;top: 0;bottom: 0;right: -100%;overflow-y: auto;background: #fff;min-height: 100vh;z-index: 9;transition: 0.5s all;width: 300px;}
    .header_first_list , .header_second_list{width: 100%;padding: 0;}
    .header_first_list li , .header_second_list li{padding: 0;width: 100%;}
    .header_first_list li a svg{float: right;margin-top: 10px;}
    .header_first_list li a{border-bottom: 1px solid #eee;width: 100%;padding: 10px 15px;}
    .header_first_list li a:hover{background: #e0ecff;}
    .header_second_list li a{border-bottom: 1px solid #eee;width: 100%;padding: 10px 15px;font-weight: 400;color: #565870;}
    .header_second_list li a:hover{background: #e0ecff;color: #0B4A94;}
    .header_second_list li button{border:none;border-bottom: 1px solid #eee;width: 100%;padding: 10px 15px;font-weight: 400;color: #565870;background: #fff;margin: 0;}
    .header_second_list li button:hover{background: #e0ecff;color: #0B4A94;}
    .header_second_list li button svg{display: none;}
    .fp_mb_open{right:0%;}
    .fp_icon_open{display: block;}   
    .home_sec , .slick_sec , .our_feature_sec ,.our_feature_sec_new .upi_journey_sec , .learning_section{padding: 50px 0;}
    .banner_mini_bold , .banner_bold_title{font-size: 33px;}
    .right_warp_banner {padding: 0;width: 100%;margin-top: 30px;}
    .our_feature_right_wrap {padding: 0;width: 100%;margin-top: 30px;}
    .our_feature_right_wrap .feature_desc{margin-bottom: 30px;}
    .padding_right_align{padding-right: 15px;}
    .common_left_title{font-size: 28px;}
    .slide_btns{display: none;}
    .margin_top_align{margin: 0;}
    footer{padding: 30px 0 0;}
    .footer_head{margin-top: 20px;}
    .footer_btm{margin-top: 20px;}
    .crp_con{font-size: 14px;font-weight: 600;line-height: 28px;}
    .find-us{font-size: 14px;}
    .follow_us{margin-top: 5px;}
    .follow_us li{padding:0 15px 0 0;}
    .footer_btm{padding: 15px 0;}
    .code_img_slider{padding:0 10px;}
    .code_img_slider_wrap{margin-top: 230px;}
    .code_img_slider_wrap img{height:285px;width:100%;object-fit: contain;}
}

.ip_partner_banner_txt1{float: left;width: 100%;font-weight: 300;font-size: 20px;color: #f4f4f4;margin-bottom: 20px;text-align: center;}
.ip_partner_banner_txt2{float: left;width: 100%;font-weight: 700;font-size: 56px;color: #fff;margin-bottom: 10px;text-align: center;}
.ip_partner_banner_txt3{float: left;width: 100%;font-weight: 300;font-size: 34px;color: #fff;margin-bottom: 60px;text-align: center;}
.ip_getstart_btn{float: left;width: 100%;text-align: center;}
.ip_getstart_btn a{display: inline-block;font-size: 16px;font-weight: 600;transition: 0.5s all;border-radius: 2px;border: 1px solid #0B4A94;padding: 15px 15px 15px 20px;background: #F4F4F4;color: #0B4A94;margin-bottom: 50px;}
.ip_getstart_btn a span{float: left;}
.ip_getstart_btn a svg{float: left; fill: #0B4A94;margin-left: 15px;}
.ip_getstart_btn a:hover{background: #fff;color: #0B4A94;}
.ip_partner_who{float: left;width: 100%;margin-bottom: 10px;color: #000;font-size: 18px;font-weight: 500;}


.title2{
    font-size: 12px;
    display: block;
}
.fontn{font-size: 16px; margin-top:8px}
.fnt-sz{
    line-height: 21px;
    font-size: 14px;
    padding: 0 !important;
}
.list-group-flush>.list-group-item{
    border-width: 0 !important;
}
.rightbrd{
    border-right: 1px solid #ccc;
}

