@import url("../src/assets/fonts/Satoshi/Fonts/WEB/css/satoshi.css");
@import url("../src/assets/fonts/OpenSans/Fonts/opensans.css");
@import url("../src/assets/fonts/NunitoSans/nunitosans.css");
@import url("../src/assets/fonts/Roboto/roboto.css");
@import url("../src/assets/fonts/Roboto/roboto.css");
html {
  overflow-y:scroll;
}

label {
  display: block;
  margin-top: 10px;
}
.removeWhiteSpace{
  padding-top: 10px;
  padding-bottom: 10px;

}

.login-form,
.signup-form {
  max-width: 350px;
  margin: auto;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  /* -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 25px 3px 36px rgb(193 176 176 / 100%) */
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.bholu {
  position: absolute;
  top: 20%;
  left: 18%;
}
.sample {
  position: absolute;

  left: 7%;
}
.joshi {
  position: absolute;
  top: 40%;
  left: 20%;
}
.para {
  position: absolute;
  top: 264px;
  left: 10px;
}
.selct {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.bhuvi {
  display: inline-block;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  border: none;
  outline: none;
  outline-offset: 0;
  font-weight: 400;
  box-shadow: none;

  padding: 10px 14px;
}

#jjj {
  width: 800px;
}
/* .btn-link{
    font-weight: 400 !important;
    color: #007bff !important;
    text-decoration: none !important;
    text-decoration-line: none !important;
    text-decoration-style: initial !important;
    text-decoration-color: initial !important;

  } */
.bhanu {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  font-weight: 400 !important;
  color: #007bff !important;
  text-decoration: none !important;
  text-decoration-line: none !important;
  text-decoration-style: initial !important;
  text-decoration-color: initial !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
/* .MuiFormHelperText-root{
  color:red !important;
} */

.displayErrorMessage {
  display: flex;
  padding: 10px;
  justify-content: flex-end;
  position: absolute;
  z-index: 999;
  width: 100%;
}

.displayErrorMessage p {
  background: palevioletred;
  padding: 15px;
}

/* home */
.nodatafound {
  margin: 25px;
  text-align: center;
  padding: 15px;
  font-size: 24px;
  font-weight: 700;
  /* font-family: system-ui; */
}

.gfg-div {
  background-color: #ffffff;
}

/* As per figma css */

.desktop-sidenave-typography {
  /* font-family: Roboto !important;  */
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 24px !important;
  letter-spacing: 0.15000000596046448px !important;
  text-align: left !important;
}

/* font classes  */

.Satoshi-Bold {
  font-family: "Satoshi-Bold" !important;
}

.Satoshi-Medium {
  font-family: "Satoshi-Medium" !important;
}

.OpenSans-Regular {
  font-family: "OpenSans-Regular" !important;
}

.NunitoSans-Regular {
  font-family: "NunitoSans-Regular" !important;
}

.NunitoSans-Medium {
  font-family: "NunitoSans-Medium" !important;
}

.Roboto-Regular {
  font-family: "Roboto-Regular" !important;
}

.Roboto-Medium {
  font-family: "Roboto-Medium" !important;
}

.Montserrat-Regular {
  font-family: "Montserrat-Regular" !important;
}

.Montserrat-Medium {
  font-family: "Montserrat-Medium" !important;
}

.Satoshi-Bold {
  font-family: "Satoshi-Bold" !important;
}
/* .OpenSans-Regular {
  font-family: "O" !important;
} */

/* ENd As per figma css */

/* For Desktop View */
@media screen and (min-width: 1024px) {
  .gfg-div {
    background-color: #63c971;
    color: #fff;
  }

  .login-float-right {
    float: right !important;
  }
}

/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .gfg-div {
    width: 400px;
    height: 400px;
    background-color: orange;
    color: black;
  }
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .gfg-div {
    width: 200px;
    height: 200px;
    background-color: red;
    color: #fff;
  }
}

/* For Mobile Landscape View */
@media screen and (max-device-width: 640px) and (orientation: landscape) {
  .gfg-div {
    width: 400px;
    height: 200px;
    background-color: cyan;
    color: black;
  }
}

/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
  .gfg-div {
    width: 400px;
    height: 200px;
    background-color: rgb(173, 250, 97);
    color: black;
  }

  .login-float-none {
    float: none;
  }

  .m0 {
    margin: 0px !important;
  }
}

/* For iPhone 4 Portrait or Landscape View */
@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  .gfg-div {
    width: 400px;
    height: 400px;
    background-color: brown;
    color: black;
  }
}

/* For iPhone 5 Portrait or Landscape View */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  .gfg-div {
    width: 400px;
    height: 400px;
    background-color: cornflowerblue;
    color: black;
  }
}

/* For iPhone 6 and 6 plus Portrait or Landscape View */
@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3) {
  .gfg-div {
    width: 400px;
    height: 400px;
    background-color: darkgoldenrod;
    color: black;
  }
}

/* Font Size Class */

.font-size-14{
  font-size: 14px !important;
}

.font-size-16{
  font-size: 16px !important;
}

.maskedInput{
  -webkit-text-security:disc
}



/* Tooltip container */
.tooltip-custom {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip-custom .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 5px;
  position: absolute;
  z-index: 1;
  display: block;
  border-radius: 1px 8px 8px 16px;
  margin: 2px;
  font-size: 12px;
}

/* Show tooltip on hover */
.tooltip-custom:hover .tooltiptext {
  visibility: visible;
}



/* input tooltip  */

[data-tip] {
	position:relative;

}
[data-tip]:before {
	content:'';
	/* hides the tooltip when not hovered */
	display:none;
	content:'';
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #1a1a1a;	
	position:absolute;
	top:30px;
	left:35px;
	z-index:8;
	font-size:0;
	line-height:0;
	width:0;
	height:0;
}
[data-tip]:after {
	display:none;
	content:attr(data-tip);
	position:absolute;
	top:35px;
	left:0px;
	padding:5px 8px;
	background:#1a1a1a;
	color:#fff;
	z-index:9;
	font-size: 0.75em;
	height:auto;
	line-height:18px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	/* white-space:nowrap; */
	word-wrap:normal;
}
[data-tip]:hover:before,
[data-tip]:hover:after {
	display:block;
}


/* global button color classes */

/* Primary */
.cob-btn-primary{
  background-color: #0156b3 !important;
}

.cob-btn-primary :hover {
  background-color: #1d88fb;

}



/* secondary */

.cob-btn-secondary {
  background-color: #ff3e06 !important;
}

.cob-btn-secondary :hover {
  background-color: #f48566;

}
