@import url("../src/assets/fonts/Satoshi/Fonts/WEB/css/satoshi.css");
@import url("../src/assets/fonts/OpenSans/Fonts/opensans.css");
@import url("../src/assets/fonts/NunitoSans/nunitosans.css");
@import url("../src/assets/fonts/Roboto/roboto.css");



html {
  overflow-y: scroll;
}


body {
  font-family: "Lato", "Lato-Regular", Helvetica, Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: #545454;
  font-size: 13px !important;
  line-height: 1.3;

  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.total_records_fontSize {
  font-size: 15px;
}

/* Apply primary button styles */
.btn-sm.cob-btn-primary:not(.client_code_not_available) {
  background-color: #286ECD !important;
  color: whitesmoke !important;
}

/* Apply styles when client code is not available */
.btn-sm.client_code_not_available {
  background-color: #00000033 !important;
}

.pan_title {
  font-family: "Sofia-Pro-Regular";
  font-weight: 500;
  font-style: normal;
}

.table_maxheight {
  max-height: 400px;
  overflow: auto;
}


.bg-auth {
  background-color: #FAFDFF;

}

.bg-screen-color {
  background-color: #EFF2FF;
}

.bg-body-sp {

  background-color: #EFF2FF;
  background-repeat: no-repeat;
  background-size: cover;
}

input,
select {
  font-size: 14px !important;
}

/* label {
  display: block;
  margin-top: 10px;
} */
.removeWhiteSpace {
  padding-top: 10px;
  padding-bottom: 10px;

}

.login-form,
.signup-form {
  max-width: 350px;
  margin: auto;
}

.not-allowed {
  cursor: not-allowed;
}


.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.bholu {
  position: absolute;
  top: 20%;
  left: 18%;
}

.sample {
  position: absolute;

  left: 7%;
}

.joshi {
  position: absolute;
  top: 40%;
  left: 20%;
}

.para {
  position: absolute;
  top: 264px;
  left: 10px;
}

.code-snippet {
  background-color: #f8f9fa;
  padding: 30px;
  border-radius: 5px;
  border: 1px solid #dee2e6;
  overflow-x: auto;
  margin-top: 73px;
}

.code-snippet pre {
  margin: 0;
  padding: 0;
  white-space: pre-wrap;
}

.code-snippet code {
  color: #495057;
  font-size: 16px;
  line-height: 1.6;

}

.instructions {
  font-size: "20px";
  margin-top: "12px";
  color: #dc3545;
}

.alertcss {
  margin-top: 75px;
}

.user_info {
  cursor: pointer;
  margin-left: "8px";
}




.displayErrorMessage {
  display: flex;
  padding: 10px;
  justify-content: flex-end;
  position: absolute;
  z-index: 999;
  width: 100%;
}

.zindexforDropdown {
  z-index: 999;

}


.displayErrorMessage p {
  background: palevioletred;
  padding: 15px;
}

/* As per figma css */

.desktop-sidenave-typography {

  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 24px !important;
  letter-spacing: 0.15000000596046448px !important;
  text-align: left !important;
}

/* font classes  */

/* ENd As per figma css */

/* For Desktop View */
@media screen and (min-width: 1024px) {

  .login-float-right {
    float: right !important;
  }
}

/* For Tablet View */
/* @media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
 
} */

/* For Mobile Portrait View */
/* @media screen and (max-device-width: 480px) and (orientation: portrait) {

} */

/* For Mobile Landscape View */
/* @media screen and (max-device-width: 640px) and (orientation: landscape) {

} */

/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
  .login-float-none {
    float: none;
  }


}

/* For iPhone 4 Portrait or Landscape View */
/* @media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {

} */

/* For iPhone 5 Portrait or Landscape View */
/* @media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {

} */

/* For iPhone 6 and 6 plus Portrait or Landscape View */
/* @media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3) {

} */

/* Font Size Class */

.font-size-14 {
  font-size: 14px !important;
}

.font-size-16 {
  font-size: 16px !important;
}

.font-size-18 {
  font-size: 18px !important;
}

.fw-600 {
  font-weight: 600;
}

.font-sofia-medium {
  font-family: 'Sofia-Pro-Medium';
}

.maskedInput {
  -webkit-text-security: disc
}


/* grid */
@media (max-width: 576px) {
  .col-xs-2 {
    flex: 0 0 auto;
    width: 10.666667%
  }
}


/* end  grid */

/* Tooltip container */
.tooltip-custom {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip-custom .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 5px;
  position: absolute;
  z-index: 1;
  display: block;
  border-radius: 1px 8px 8px 16px;
  margin: 2px;
  font-size: 12px;
}

/* Show tooltip on hover */
.tooltip-custom:hover .tooltiptext {
  visibility: visible;
}



/* input tooltip  */

[data-tip] {
  position: relative;

}

[data-tip]:before {
  /* hides the tooltip when not hovered */
  display: none;

  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #1a1a1a;
  position: absolute;
  top: 30px;
  left: 35px;
  z-index: 8;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

[data-tip]:after {
  display: none;
  content: attr(data-tip);
  position: absolute;
  top: 35px;
  left: 0px;
  padding: 5px 8px;
  background: #1a1a1a;
  color: #fff;
  z-index: 9;
  font-size: 0.75em;
  height: auto;
  line-height: 18px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  /* white-space:nowrap; */
  word-wrap: normal;
}

[data-tip]:hover:before,
[data-tip]:hover:after {
  display: block;
}


/* display none unwanted div */
.modal-backdrop {
  display: none !important;
}

/* global button color classes */

/* Primary */
.cob-btn-primary {
  background-color: #286ECD !important;
  color: whitesmoke !important;
}

.cob-btn-primary :hover {
  background-color: #1d88fb;
  color: whitesmoke !important;


}



/* secondary */

.cob-btn-secondary {
  background-color: #FF8800 !important;
}

.cob-btn-secondary :hover {
  background-color: #f48566;

}

.align-items-center {
  -ms-flex-align: center !important;
}


.text_primary_color {
  color: #023677
}

/* gloablly apply css */
/* 
p{
  font-family: "Roboto-Regular";
} */

/* 
h1, h2, h3, h4, h5, h6{
  font-family: "OpenSans-Regular";
} */

.fs-12 {
  font-size: 12px;
}

.fs-10 {
  font-size: 10px;
}



/* datepicker css */

.react-datepicker-wrapper {
  display: block !important;
}

.react-date-picker__wrapper {
  border: none !important;
}

.react-date-picker {
  padding: 3px 2px 2px 4px !important;
  ;
}



/* sidenav bar */

.hide-menu-nav {
  display: none !important;
}



/* cursor */

.cursor_pointer {
  cursor: pointer;
}

.font_Size input[type="radio"]+label {
  font-weight: bold;
}

.copy_clipboard {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.date_picker {
  line-height: 33px;
  padding: 0px 0px 0px 8px !important;
}

/* radio input  */
.radio-input {
  border: 1px solid black;
}

/* data calendar  */
.react-date-picker__calendar {
  z-index: 9999 !important;
}


/* icon eye */

.fa-eye,
.fa-eye-slash {
  color: #377CCF;
}


/* start Hide Scroll Bar */
.scroll-bar-hide {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

.scroll-bar-hide::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

/* end Hide Scroll Bar */




/* horizontal line */
.hr_line {
  display: flex;
  flex-direction: row;
}

.hr_line:before,
.hr_line:after {
  content: "";
  flex: 1 1;
  border-bottom: 2px solid #fff;
  margin: 0px 4px 10px 4px;
}


.hr_line_or {
  display: flex;
  flex-direction: row;
}

.hr_line_or:before,
.hr_line_or:after {
  content: "";
  flex: 1 1;
  border-bottom: 2px solid #d2d2d2;
  margin: 0px 4px 8px 4px;
}





/* horizontal line */


/* mansha */
#sp_manshaChabot {
  position: absolute;
  z-index: 9999 !important;
}


/* end mansha */