$primaryColor: #29205d;

// $buttonPrimary:
// $buttonOnHover:
// $buttonDisable:

// paragraphFontSize
// headingFontSize

// fontFamily



// outer dashboard
.headerBg {
    background-color: $primaryColor;
}




// --------------------------------------------------------------------------------- 

// inner dashboard 
.sidebarBg{
    background-color: #130532;
}

.dashboardHeaderBg{
    background-color: #130532;
}




// --------------------------------------------------------------------------------------

.cob-primary-btn-bg{
    background-color: $primaryColor;
}