@import url("../src/assets/fonts/Sofia/sofia.css");

// $primaryColor: #29205d;
$primaryColor: #154280;
$secondaryColor: #FF8F00;

// $buttonPrimary:
// $buttonOnHover:
// $buttonDisable:

// paragraphFontSize
// headingFontSize

// fontFamily




// outer dashboard
.headerBg {
    background-color: $primaryColor;
}




// --------------------------------------------------------------------------------- 

// inner dashboard 
.sidebarBg{
    background-color: $primaryColor  //;
}

.dashboardHeaderBg{
    background-color:$primaryColor  //#130532;
}




// --------------------------------------------------------------------------------------

.cob-primary-btn-bg{
    background-color: $primaryColor;
}
.cob-secondary-btn{
    background-color: $secondaryColor;
}

.active-secondary{
    color: white !important;
    background-color: $secondaryColor !important;
}
.active-tab{
    color: #000000 !important;
    background-color: #ADD1F4 !important;
}




// global tag

p{
    font-family: "Sofia-Pro-Regular";
    font-weight: 500;
    font-style: normal;

}

h1,h2,h3,h4,h5{
    font-family: "Sofia-Pro-Regular";
    font-weight: 500;
    font-style: normal;
}

a, span, label {
    font-family: "Sofia-Pro-Regular";
    font-weight: 500;
    font-style: normal
}

