@import url("../src/assets/fonts/Sofia/sofia.css");

// $primaryColor: #29205d;
$primaryColor: #154280;

// $buttonPrimary:
// $buttonOnHover:
// $buttonDisable:

// paragraphFontSize
// headingFontSize

// fontFamily




// outer dashboard
.headerBg {
    background-color: $primaryColor;
}




// --------------------------------------------------------------------------------- 

// inner dashboard 
.sidebarBg{
<<<<<<< HEAD
    background-color: $primaryColor // #130532;  //;
}

.dashboardHeaderBg{
    background-color: $primaryColor //#130532; //#130532;
=======
    background-color: $primaryColor  //;
}

.dashboardHeaderBg{
    background-color:$primaryColor  //#130532;
>>>>>>> dev_ui_update
}




// --------------------------------------------------------------------------------------

.cob-primary-btn-bg{
    background-color: $primaryColor;
}


// global tag

p{
    font-family: "Sofia-Pro-Regular";
    font-weight: 500;
    font-style: normal;

}

h1,h2,h3,h4,h5{
    font-family: "Sofia-Pro-Regular";
    font-weight: 500;
    font-style: normal;
}

a, span, label {
    font-family: "Sofia-Pro-Regular";
    font-weight: 500;
    font-style: normal
}

