/* .dropdown-menu a {
  color: #000 !important;
}

.dropdown-menu a:hover {
  color: #ff8f00 !important;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
} */
